@font-face {
  font-family: Basteleur;
  src: url('./fonts/Basteleur-Moonlight.ttf');
}

@font-face {
  font-family: Basteleur;
  font-weight: bold;
  src: url('./fonts/Basteleur-Moonlight.ttf');
}

h1 {
    font-family: Basteleur;
    font-weight: bold;
    color: blueviolet;
    margin-left: 10%;
    list-style: none;
    cursor: pointer;
    font-size: 10vw;
    font-family: "Montserrat", sans-serif;
    transition: 0.25s ease;
    &:hover {
      transform: translateX(25px);
}

.link {
  font-family: Basteleur;
  font-size: 15px;
  display: inline-block;
}

#navi {
  margin: 1% 0% 5% 70%;
  text-align: center;
}

#work {
  margin-right: 10%;
}

p {
  font-family: 'EB Garamond';
  font-weight: 'Regular 400';
  font-size: 20px;
  margin: 0% 10% 0% 10%;
}

.material-symbols-outlined {
  margin-left: 50%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-family: 'EB Garamond';
  font-weight: 'Bold 700';
  font-size: 15px;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 10% 0% 10%;
}

.works {
  flex: 1 0 20%;
  display: inline-table;
  margin: 5px;
  padding-right: 5px;
  align-items: center;
}

.page_img {
  float: left;
  width: auto;
  padding-right: 5%;
}

h3 {
  font-family: Basteleur;
  font-weight: bold;
  font-size: 20px;
}

.page_div {
  margin: 0% 10% 0% 10%;
}

.page_info {
  margin-left: 2.5%;
}

.uses, .read_it {
  font-family: 'EB Garamond';
  font-weight: 'Bold 700';
  font-size: 15px;
}

.uses, .project_description, .read_it {
  margin-top: 2.5%;
}

.project_description {
  font-family: 'EB Garamond';
  font-weight: 'Regular 400';
  font-size: 15px;
}

#cursorBlob {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    120deg,
    #FF1744,
    #E040FB,
    #2979FF,
    #00E5FF,
    #76FF03
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}
@keyframes blobRadius {
  0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
	20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
	40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
	60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
	80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
}
@keyframes blobBackground {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}