@font-face {
  font-family: Basteleur;
  src: url('./fonts/Basteleur-Moonlight.ttf');
}

@font-face {
  font-family: Basteleur;
  font-weight: bold;
  src: url('./fonts/Basteleur-Moonlight.ttf');
}

h1 {
    font-size: 40px;
    font-family: Basteleur;
    font-weight: bold;
    color: #B727E6;
    margin-left: 10%;
}

.link {
  font-family: Basteleur;
  font-size: 15px;
  display: inline-block;
}

#navi {
  margin: 1% 0% 5% 70%;
  text-align: center;
}

#work {
  margin-right: 10%;
}

p {
  font-family: 'EB Garamond';
  font-weight: 'Regular 400';
  font-size: 20px;
  margin: 0% 10% 0% 10%;
}

.material-symbols-outlined {
  margin-left: 50%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-family: 'EB Garamond';
  font-weight: 'Bold 700';
  font-size: 15px;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 10% 0% 10%;
}

.works {
  flex: 1 0 20%;
  display: inline-table;
  margin: 5px;
  padding-right: 5px;
  align-items: center;
}

.page_img {
  float: left;
  width: auto;
  padding-right: 5%;
}

h3 {
  font-family: Basteleur;
  font-weight: bold;
  font-size: 20px;
}

.page_div {
  margin: 0% 10% 0% 10%;
}

.page_info {
  margin-left: 2.5%;
}

.uses, .read_it {
  font-family: 'EB Garamond';
  font-weight: 'Bold 700';
  font-size: 15px;
}

.uses, .project_description, .read_it {
  margin-top: 2.5%;
}

.project_description {
  font-family: 'EB Garamond';
  font-weight: 'Regular 400';
  font-size: 15px;
}

.ball {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration-color: #B727E6;
  text-decoration-line: none;
}

a:hover {
  text-decoration-color: #B727E6;
  text-decoration-line: none;
  font-weight: bold;
}

a:active {
  text-decoration-color: #B727E6;
  text-decoration-line: none;
  font-weight: bold;
}