@font-face {
  font-family: Basteleur;
  src: url('./fonts/Basteleur-Moonlight.ttf');
}

@font-face {
  font-family: Basteleur;
  font-weight: bold;
  src: url('./fonts/Basteleur-Moonlight.ttf');
}

h1 {
    font-size: 40px;
    font-family: Basteleur;
    font-weight: bold;
    color: blueviolet;
    margin: 0% 0% 0% 25%;
}

.link {
  font-family: Basteleur;
  font-size: 15px;
}

#work {
  margin: 10% 10% 10% 70%;
}

#about {
  margin: 0% 10% 10% 80%;
}